#idx1.blocktable
  %h2
    %span 
      Upload your files here
    %form(method="post" action="/upload" enctype='multipart/form-data')
      %input(type='file' name='myfile')
      %br
      %input(type='submit' value='Upload!')

  



