#idx1.blocktable
  %h2
    %span 
      Server Info
  .box
    .inbox
      %table{:cellspacing => "0"}
        %thead
        %tr
          %th.tcl{:scope => "col"} Field
          %th.tcl{:scope => "col"} Value

        %tbody
          %tr
            %td
              =link_to("/login","Login")
