#idx1.blocktable
  %h2
    %span 
      Service Statistics
      %p.conr
        Field map
  .box
    .inbox
      %table{:cellspacing => "0"}
        %thead
        %tr
          %th.tcl{:scope => "col"} Name
          %th.tcl{:scope => "col"} Value


        %tbody
          - @statistics.keys.sort.each do |stat|
            %tr
              %td
                &= stat
              %td
                &= @statistics[stat]
